{
    "trailingComma": "none",
    "arrowParens": "avoid",
    "singleQuote": true,
    "overrides": [
        {
            "files": "**/lwc/**/*.html",
            "options": {
                "parser": "lwc",
                "printWidth": 120
            }
        },
        {
            "files": "**/aura/**/*.cmp",
            "options": {
                "parser": "html",
                "printWidth": 120
            }
        },
        {
            "files": "*.{page,component}",
            "options": {
                "parser": "html",
                "printWidth": 120
            }
        },
        {
            "files": "*.{cls,trigger,html,js,css}",
            "options": {
                "printWidth": 120,
                "tabWidth": 4
            }
        },
        {
            "files": "*.xml",
            "options": {
                "parser": "xml",
                "printWidth": 240,
                "xmlSelfClosingSpace": false,
                "embeddedLanguageFormatting": "off"
            }
        }
    ]
}
